<mat-card>
  <mat-card-title>
    Oceń transakcję
  </mat-card-title>
  <mat-card-subtitle class="example-full-width">
    Tytuł oferty / Miasto początkowe - Miasto docelowe
  </mat-card-subtitle>
  <mat-card-content>
    <form class="example-form">
      <p>Ocena</p>
      <div>
        <mat-icon class="rate rate_selected">star</mat-icon>
        <mat-icon class="rate rate_selected">star</mat-icon>
        <mat-icon class="rate rate_selected">star</mat-icon>
        <mat-icon class="rate">star</mat-icon>
        <mat-icon class="rate">star</mat-icon>
      </div>
      <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Komentarz" matTextareaAutosize matAutosizeMinRows="2"
                      matAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <button mat-raised-button>Anuluj</button>
      <button mat-raised-button color="primary">Oceń</button>
    </form>
  </mat-card-content>
</mat-card>
