<mat-card>
  <mat-card-title>
    Oceń transakcję
  </mat-card-title>
  <mat-card-subtitle *ngIf="login">
    Oceniasz użytkownika {{ login }}
  </mat-card-subtitle>
  <mat-card-content>
    <form>
      <p>Wybierz liczbę gwiazdek na którą oceniasz użytkownika:</p>
      <div style="cursor:pointer;">
        <mat-icon class="rate" [ngClass]="{'rate_selected': liczbaGwiazdek >= 1}" (mouseenter)="liczbaGwiazdek=1"
                  (click)="wystawOcene(1)">star
        </mat-icon>
        <mat-icon class="rate" [ngClass]="{'rate_selected': liczbaGwiazdek >= 2}" (mouseenter)="liczbaGwiazdek=2"
                  (click)="wystawOcene(2)">star
        </mat-icon>
        <mat-icon class="rate" [ngClass]="{'rate_selected': liczbaGwiazdek >= 3}" (mouseenter)="liczbaGwiazdek=3"
                  (click)="wystawOcene(3)">star
        </mat-icon>
        <mat-icon class="rate" [ngClass]="{'rate_selected': liczbaGwiazdek >= 4}" (mouseenter)="liczbaGwiazdek=4"
                  (click)="wystawOcene(4)">star
        </mat-icon>
        <mat-icon class="rate" [ngClass]="{'rate_selected': liczbaGwiazdek >= 5}" (mouseenter)="liczbaGwiazdek=5"
                  (click)="wystawOcene(5)">star
        </mat-icon>
      </div>
    </form>
  </mat-card-content>
</mat-card>
