<mat-card>
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td colspan="2" align="center">
          <mat-card-title class="example-full-width">
            Dodaj regulamin
          </mat-card-title>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tytuł regulaminu">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Treść regulaminu" matTextareaAutosize matAutosizeMinRows="2"
                      matAutosizeMaxRows="20">
            </textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td align="center" style="width:50%"><button mat-raised-button style="width:100%">Anuluj</button></td>
        <td align="center" style="width:50%"><button mat-raised-button color="primary" style="width:100%">Dodaj regulamin</button></td>
      </tr>
    </table>
  </form>
</mat-card>
