<mat-card>
  <mat-card-title class="example-full-width">Formularz zgłaszania transakcji</mat-card-title>
  <mat-card-content>
    <form class="example-form">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Numer transakcji:" disabled value="15">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select [(value)]="selected" placeholder="Typ zgłaszanej uwagi">
          <mat-option value="opcja1">Niezastosowanie się do warunków transakcji przez Kierowcę</mat-option>
          <mat-option value="opcja2">Niezastosowanie się do warunków transakcji przez Nadawcę</mat-option>
          <mat-option value="opcja3">Inne</mat-option>
        </mat-select>
        <mat-hint>Wybierz typ zgłaszanej uwagi:</mat-hint>
      </mat-form-field>
      <p>Wybrałeś: {{selected}}</p>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Treść uwagi:" rows="10"></textarea>
      </mat-form-field>
      <button mat-raised-button>Anuluj</button>
      <button mat-raised-button color="primary">Wyślij</button>
    </form>
  </mat-card-content>
</mat-card>
