<mat-card>
  <mat-card-title>Formularz logowania</mat-card-title>
  <mat-card-content>Ten formularz pozwala na zalogowanie się do serwisu.</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <form class="example-form" [formGroup]="logowanieForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" formControlName="login" required>
        <mat-hint>Wpisz login!</mat-hint>
        <mat-error
          *ngIf="this.logowanieForm.controls['login'].invalid ">
          Login ma za dużo znaków, maksymalna liczba znaków wynosi 30
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Hasło" formControlName="haslo" required>
        <mat-hint>Wpisz hasło!</mat-hint>
        <mat-error
          *ngIf="this.logowanieForm.controls['haslo'].invalid ">
          Hasło musi mieć od 8 do 30 znaków
        </mat-error>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="accent" (click)="zaloguj()">Zaloguj</button>
      <a mat-raised-button routerLink="/rejestracja">Zarejestruj sie</a>
    </form>
  </mat-card-content>
</mat-card>

