<mat-card>
  <mat-card-title>Formularz logowania</mat-card-title>
  <mat-card-content>Ten formularz pozwala na zalogowanie się do serwisu.</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login">
        <mat-hint>Wpisz login!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Hasło">
        <mat-hint>Wpisz hasło!</mat-hint>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="accent">Zaloguj</button>
      <a mat-raised-button routerLink="/rejestracja">Zarejestruj sie</a>
    </form>
  </mat-card-content>
</mat-card>

