<mat-card>
  <mat-card-title>Zarządzanie ofertami</mat-card-title>
  <mat-card-content>
    <mat-spinner *ngIf="!dataSource"></mat-spinner>
    <mat-table *ngIf="dataSource" #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="dataGodzina">
        <mat-header-cell *matHeaderCellDef flex-gt-xs="15"> Data i godzina wyjazdu</mat-header-cell>
        <mat-cell *matCellDef="let element" flex-gt-xs="15"> {{ element.dataGodzinaWyjazdu | date:'dd.MM.yyyy HH:mm'
          }}
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="tytul">
        <mat-header-cell *matHeaderCellDef flex-gt-xs="25"> Tytuł</mat-header-cell>
        <mat-cell *matCellDef="let element" flex-gt-xs="25"><a mat-icon-button
                                                               [routerLink]="['/oferta/wyswietl', element.id]"
                                                               color="accent" [disabled]="element.zablokowana">
          <mat-icon aria-label="Przejdź do oferty">assignment</mat-icon>
        </a>
          <span [style.text-decoration]="element.zablokowana ? 'line-through' : 'none'">{{ element.tytul }}</span>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="cena">
        <mat-header-cell *matHeaderCellDef flex-gt-xs="10"> Cena</mat-header-cell>
        <mat-cell *matCellDef="let element" flex-gt-xs="10"> {{ element.cenaMinimalna }}-{{ element.cenaMaksymalna }}zł
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="kategoriePaczek">
        <mat-header-cell *matHeaderCellDef flex-gt-xs="20"> Kategorie paczek</mat-header-cell>
        <mat-cell *matCellDef="let element" flex-gt-xs="20">
          <mat-chip-list>
            <ng-container *ngFor="let kategoria of element.kategoriePaczek; let i=index">
              <mat-chip color="primary" *ngIf="i < 2">
                {{ kategoria }}
              </mat-chip>
            </ng-container>
            <mat-chip *ngIf="element.kategoriePaczek && element.kategoriePaczek.length > 2">i {{
              element.kategoriePaczek.length - 2 }} więcej...
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rozmiaryPaczek">
        <mat-header-cell *matHeaderCellDef flex-gt-xs="20"> Rozmiary paczek</mat-header-cell>
        <mat-cell *matCellDef="let element" flex-gt-xs="20">
          <mat-chip-list>
            <ng-container *ngFor="let rozmiar of element.rozmiaryPaczek; let i=index">
              <mat-chip color="primary" *ngIf="i < 2">
                {{ rozmiar }}
              </mat-chip>
            </ng-container>
            <mat-chip *ngIf="element.rozmiaryPaczek && element.rozmiaryPaczek.length > 2">i {{
              element.rozmiaryPaczek.length - 2 }} więcej...
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="akcje">
        <mat-header-cell *matHeaderCellDef flex-gt-xs="10"> Akcje</mat-header-cell>
        <mat-cell *matCellDef="let element" flex-gt-xs="10">
          <a matTooltip="Edytuj ofertę" title="Edytuj ofertę" [routerLink]="['/oferta/edytuj', element.id]"
             mat-icon-button color="accent"
             [disabled]="!element.aktywna || element.zablokowana || element.zleceniaTransportu?.length > 0">
            <mat-icon aria-label="Edytuj ofertę">edit</mat-icon>
          </a>
          <button matTooltip="Zdejmij ofertę" title="Zdejmij ofertę" mat-icon-button color="warn"
                  (click)="zdejmijOferte(element)"
                  [disabled]="!element.aktywna || element.zablokowana || element.dataGodzinaWyjazdu < date">
            <mat-icon aria-label="Zdejmij ofertę">visibility_off</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [ngClass]="{'bgc-pink-50': !row.aktywna || row.zablokowana}"
               *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
