<mat-card>
  <mat-card-title>Formularz rejestracji</mat-card-title>
  <mat-card-content>Ten formularz pozwala na zarejestrowanie się do serwisu.</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <form class="example-form" [formGroup]="rejestracjaForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" formControlName="login">
        <mat-hint>Wpisz login!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Hasło" formControlName="haslo">
        <mat-hint>Wpisz hasło!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Powtórz Hasło">
        <mat-hint>Potwierdź hasło!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Adres e-mail" formControlName="email">
        <mat-hint>Wpisz e-mail!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Imię" formControlName="imie">
        <mat-hint>Wpisz imię!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nazwisko" formControlName="nazwisko">
        <mat-hint>Wpisz nazwisko!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Data urodzenia" formControlName="dataUrodzenia">
        <mat-hint>W formacie rrrr-mm-dd.</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Województwo" formControlName="wojewodztwo">
        <mat-hint>Wpisz województwo!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Miejscowość" formControlName="miejscowosc">
        <mat-hint>Wpisz miejscowość!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ulica" formControlName="ulica">
        <mat-hint>Wpisz ulicę!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nr telefonu" formControlName="numerTelefonu">
        <mat-hint>Wpisz nr telefonu!</mat-hint>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="accent" (click)="zarejestruj(rejestracjaForm.value)">Zarejestruj</button>
    </form>
  </mat-card-content>
</mat-card>
