<mat-card>
  <mat-card-title>Formularz rejestracji</mat-card-title>
  <mat-card-content>Ten formularz pozwala na zarejestrowanie się do serwisu.</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <form class="example-form" [formGroup]="rejestracjaForm">
      <mat-form-field class="example-full-width">
        <input matInput #inputLogin maxlength="30" placeholder="Login" required formControlName="login">
        <mat-hint>Długość loginu może wynosić najwyżej 30 znaków.</mat-hint>
        <mat-error
          *ngIf="this.rejestracjaForm.controls['login'].invalid">
          Musisz wpisać login.
        </mat-error>
        <mat-hint align="end">{{ inputLogin.value?.length || 0 }}/30</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" #inputPassword minlength="8" placeholder="Hasło" required formControlName="haslo" (change)="weryfikujHaslo2()">
        <mat-hint>Długość hasła musi wynosić minimum 8 znaków.</mat-hint>
        <mat-error *ngIf="this.rejestracjaForm.controls['haslo'].invalid">
          <span *ngIf="this.rejestracjaForm.controls['haslo'].errors.required; else elseBlock1">Musisz wpisać hasło.</span>
          <ng-template #elseBlock1>
            <span *ngIf="this.rejestracjaForm.controls['haslo'].errors.minlength">Za krótkie hasło.</span>
          </ng-template>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Powtórz Hasło" required formControlName="haslo2" (change)="weryfikujHaslo()">
        <mat-hint>Potwierdź hasło!</mat-hint>
        <mat-error *ngIf="this.rejestracjaForm.controls['haslo2'].invalid">
          <span *ngIf="this.rejestracjaForm.controls['haslo2'].errors.czyHasloJestTakieSamo; else elseBlock2">Podane hasło różni się od podanego wcześniej.</span>
          <ng-template #elseBlock2>
            <span *ngIf="this.rejestracjaForm.controls['haslo2'].errors.required">Musisz potwierdzić hasło.</span>
          </ng-template>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Adres e-mail" formControlName="email">
        <mat-hint>Wpisz e-mail!</mat-hint>
        <mat-error *ngIf="this.rejestracjaForm.controls['email'].invalid">
          <span *ngIf="this.rejestracjaForm.controls['email'].errors.required; else elseBlock3">Musisz podać maila.</span>
          <ng-template #elseBlock3>
            <span *ngIf="this.rejestracjaForm.controls['email'].errors.pattern">Zły format maila.</span>
          </ng-template>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Imię" formControlName="imie">
        <mat-hint>Wpisz imię!</mat-hint>
        <mat-error *ngIf="this.rejestracjaForm.controls['imie'].invalid">
          <span *ngIf="this.rejestracjaForm.controls['imie'].errors.required; else elseBlock4">Musisz podać imię.</span>
          <ng-template #elseBlock4>
            <span *ngIf="this.rejestracjaForm.controls['imie'].errors.pattern">Niepoprawne imię.</span>
          </ng-template>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nazwisko" formControlName="nazwisko">
        <mat-hint>Wpisz nazwisko!</mat-hint>
        <mat-error *ngIf="this.rejestracjaForm.controls['nazwisko'].invalid">
          <span *ngIf="this.rejestracjaForm.controls['nazwisko'].errors.required; else elseBlock5">Musisz podać nazwisko.</span>
          <ng-template #elseBlock5>
            <span *ngIf="this.rejestracjaForm.controls['nazwisko'].errors.pattern">Niepoprawne nazwisko.</span>
          </ng-template>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Data urodzenia" formControlName="dataUrodzenia">
        <mat-hint>W formacie rrrr-mm-dd.</mat-hint>
        <mat-error *ngIf="this.rejestracjaForm.controls['dataUrodzenia'].invalid">
          <span *ngIf="this.rejestracjaForm.controls['dataUrodzenia'].errors.pattern">Niepoprawna data.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Województwo" formControlName="wojewodztwo">
        <mat-hint>Wpisz województwo!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Miejscowość" formControlName="miejscowosc">
        <mat-hint>Wpisz miejscowość!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ulica" formControlName="ulica">
        <mat-hint>Wpisz ulicę!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nr telefonu" formControlName="numerTelefonu">
        <mat-hint>Wpisz nr telefonu!</mat-hint>
        <mat-error *ngIf="this.rejestracjaForm.controls['numerTelefonu'].invalid">
          <span *ngIf="this.rejestracjaForm.controls['numerTelefonu'].errors.pattern">Niepoprawny numer telefonu.</span>
        </mat-error>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="accent" [disabled]="this.rejestracjaForm.invalid" (click)="zarejestruj(rejestracjaForm.value)">Zarejestruj</button>
    </form>
  </mat-card-content>
</mat-card>
