<mat-card>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item routerLink="/oferta/dodaj"> Dodaj ofertę </a>
      <!--<a mat-list-item routerLink="/oferta/edytuj"> Edytuj ofertę </a>-->
      <a mat-list-item routerLink="/uzytkownik/edytuj_profil"> Edytuj profil </a>
      <!--<a mat-list-item routerLink="/wiadomosc/wyslij"> Napisz wiadomość </a>-->
      <!--<a mat-list-item routerLink="/transakcja/ocen"> Oceń transakcję </a>-->
      <!--<a mat-list-item routerLink="/transakcja/zglos"> Zgłoś transakcję </a>-->
    </mat-nav-list>
  </mat-card-content>
</mat-card>
