<mat-card>
  <mat-card-title class="example-full-width">Formularz edycji profilu użytkownika</mat-card-title>
  <mat-card-content>
    <form class="example-form">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Imię">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nazwisko">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Województwo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Miejscowość">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ulica">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefon" type="number">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Data urodzenia" type="date">
      </mat-form-field>

      <button mat-raised-button>Anuluj</button>
      <button mat-raised-button color="primary">Zatwierdź</button>

    </form>
  </mat-card-content>
</mat-card>
