<mat-card>
  <mat-card-title>Profil użytkownika {{ login }}
    <mat-chip *ngIf="uzytkownik && uzytkownik.rola === 'ROLE_ADMIN'" color="accent" selected="true">Administrator
    </mat-chip>
  </mat-card-title>
  <mat-card-content>
    <mat-spinner *ngIf="!uzytkownik"></mat-spinner>
    <ng-container *ngIf="uzytkownik">
      <ng-container *ngIf="!uzytkownik.zablokowany; else elseBlock">
        <div class="mat-table">
          <div class="mat-row">
            <div class="mat-cell" flex-gt-xs="25"><strong>Imię i nazwisko</strong></div>
            <div class="mat-cell">{{ uzytkownik.imie }} {{ uzytkownik.nazwisko }}</div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" flex-gt-xs="25"><strong>Data urodzenia</strong></div>
            <div class="mat-cell"> {{ uzytkownik.dataUrodzenia | date: 'dd.MM.yyyy' }}</div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" flex-gt-xs="25"><strong>Adres zamieszkania</strong></div>
            <div class="mat-cell" flex-gt-xs="25">{{ uzytkownik.ulica }}, {{ uzytkownik.miejscowosc }}, woj. {{
              uzytkownik.wojewodztwo }}
            </div>
          </div>
          <div class="mat-row" *ngIf="uzytkownik.srednia > 0">
            <div class="mat-cell" flex-gt-xs="25"><strong>Średnia ocen</strong></div>
            <div class="mat-cell" flex-gt-xs="25">
              <mat-icon class="rate" [ngClass]="{'rate_selected': uzytkownik.srednia >= 1}"
                        (mouseenter)="liczbaGwiazdek=1"
                        (click)="wystawOcene(1)">star
              </mat-icon>
              <mat-icon class="rate" [ngClass]="{'rate_selected': uzytkownik.srednia >= 2}"
                        (mouseenter)="liczbaGwiazdek=2"
                        (click)="wystawOcene(2)">star
              </mat-icon>
              <mat-icon class="rate" [ngClass]="{'rate_selected': uzytkownik.srednia >= 3}"
                        (mouseenter)="liczbaGwiazdek=3"
                        (click)="wystawOcene(3)">star
              </mat-icon>
              <mat-icon class="rate" [ngClass]="{'rate_selected': uzytkownik.srednia >= 4}"
                        (mouseenter)="liczbaGwiazdek=4"
                        (click)="wystawOcene(4)">star
              </mat-icon>
              <mat-icon class="rate" [ngClass]="{'rate_selected': uzytkownik.srednia >= 5}"
                        (mouseenter)="liczbaGwiazdek=5"
                        (click)="wystawOcene(5)">star
              </mat-icon>

              {{ uzytkownik.srednia }} z {{ uzytkownik.liczbaOcen }} ocen
            </div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" flex-gt-xs="25"><strong>Numer telefonu</strong></div>
            <div class="mat-cell">{{ uzytkownik.numerTelefonu }}</div>
          </div>
        </div>
        <br/>
        <button mat-raised-button color="warn" (click)="zglosUzytkownika(login)"
                *ngIf="!zalogowanyUzytkownik || zalogowanyUzytkownik === null || zalogowanyUzytkownik.login !== uzytkownik.login">
          Zgłoś użytkownika
        </button>
        <button *ngIf="zalogowanyUzytkownik && zalogowanyUzytkownik.rola === 'ROLE_ADMIN'" mat-raised-button
                color="warn" (click)="zablokujUzytkownika(login, uzytkownik)">Zablokuj użytkownika
        </button>
      </ng-container>
      <ng-template #elseBlock>Uzytkownik jest zablokowany.</ng-template>
    </ng-container>
  </mat-card-content>
</mat-card>
