<td-layout>
  <td-navigation-drawer flex sidenavTitle="Menu">
    <mat-nav-list>
      <ng-container *ngFor="let link of navLinks">
        <a
          *ngIf="link.enable && ((zalogowanyUzytkownik?.rola && link.role.indexOf(zalogowanyUzytkownik.rola) > -1) || (!zalogowanyUzytkownik && link.role.indexOf('') > -1))"
          mat-list-item [routerLink]="link.path">{{ link.label }}</a>
      </ng-container>
      <a mat-list-item *ngIf="zalogowanyUzytkownik?.imie" (click)="wyloguj()">Wyloguj</a>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav color="primary">
    <button mat-icon-button td-menu-button tdLayoutToggle hide-gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span>Fast Courier</span>
      <span flex></span>
      <span>Magical Solutions</span>
    </div>
    <mat-toolbar class="pad-none" hide-sm hide-xs>
      <nav mat-stretch-tabs mat-tab-nav-bar class="text-upper pad-bottom-xs pull-bottom-sm" flex>
        <ng-container *ngFor="let link of navLinks">
          <a mat-tab-link
             *ngIf="link.enable && ((zalogowanyUzytkownik?.rola && link.role.indexOf(zalogowanyUzytkownik.rola) > -1) || (!zalogowanyUzytkownik && link.role.indexOf('') > -1))"
             [routerLink]="link.path">
            {{ link.label }}
          </a>
        </ng-container>
        <a mat-tab-link *ngIf="zalogowanyUzytkownik?.imie" (click)="wyloguj()">Wyloguj</a>
        <br>
      </nav>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>
