<td-layout>
  <td-navigation-drawer flex sidenavTitle="Menu">
    <mat-nav-list>
      <ng-container *ngFor="let link of navLinks">
        <a
          *ngIf="link.enable && ((zalogowanyUzytkownik?.rola && link.role.indexOf(zalogowanyUzytkownik.rola) > -1) || (!zalogowanyUzytkownik && link.role.indexOf('') > -1))"
          mat-list-item [routerLink]="link.path">{{ link.label }}</a>
      </ng-container>
      <a mat-list-item *ngIf="zalogowanyUzytkownik?.imie" (click)="wyloguj()">Wyloguj</a>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav color="primary">
    <button mat-icon-button td-menu-button tdLayoutToggle hide-gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span>Fast Courier</span>
      <span flex></span>
      <span>Magical Solutions</span>
      <button class="overflow-visible" mat-icon-button [matMenuTriggerFor]="notificationsMenu"
              *ngIf="zalogowanyUzytkownik && powiadomienia" (click)="unsubscribeNotifications()">
        <td-notification-count [notifications]="nieprzeczytanychPowiadomien">
          <mat-icon>notifications</mat-icon>
        </td-notification-count>
      </button>
      <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false" (closed)="subscribeNotifications()">
        <td-menu>
          <div td-menu-header class="mat-subheading-1">Powiadomienia</div>
          <mat-nav-list dense>
            <ng-template let-last="last" ngFor let-item [ngForOf]="powiadomienia">
              <a mat-list-item [ngClass]="{'bgc-purple-50': !item.przeczytane}" (click)="przeczytaj(item)">
                <mat-icon matListAvatar>shopping_cart</mat-icon>

                <h4 matLine *ngIf="item.typPowiadomienia == typPowiadomienia.ZLECONO_TRANSPORT_PRZESYLKI"><span
                  class="text-wrap">Dla Twojej oferty <em>{{ item.obiekt?._embedded.oferta.tytul }}</em> zostało złożone nowe zlecenie transportu przesyłki przez <em>{{ item.obiekt?._embedded.uzytkownik.login }}</em>. Kliknij i podejmij decyzję co z nim zrobić.</span>
                </h4>
                <h4 matLine *ngIf="item.typPowiadomienia == typPowiadomienia.ZMIANA_STATUSU_ZLECENIA"><span
                  class="text-wrap">W Twoim zleceniu do oferty <em>{{ item.obiekt?._embedded.oferta.tytul }}</em> zmienił się status. Kliknij i zobacz na jaki.</span>
                </h4>
                <p matLine>{{ item.dataDodania | timeAgo:reference }}</p>
              </a>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-nav-list>
        </td-menu>
      </mat-menu>
    </div>
    <mat-toolbar class="pad-none" hide-sm hide-xs>
      <nav mat-stretch-tabs mat-tab-nav-bar class="text-upper pad-bottom-xs pull-bottom-sm" flex>
        <ng-container *ngFor="let link of navLinks">
          <a mat-tab-link
             *ngIf="link.enable && ((zalogowanyUzytkownik?.rola && link.role.indexOf(zalogowanyUzytkownik.rola) > -1) || (!zalogowanyUzytkownik && link.role.indexOf('') > -1))"
             [routerLink]="link.path">
            {{ link.label }}
          </a>
        </ng-container>
        <a mat-tab-link *ngIf="zalogowanyUzytkownik?.imie" (click)="wyloguj()">Wyloguj</a>
        <br>
      </nav>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>
