<mat-card>
  <mat-card-title>Zapoznaj się z serwisem</mat-card-title>
  <mat-card-content>Dzięki tej stronie możesz zapoznać się z serwisem. W razie pytań prosimy o kontakt na <em>skrzynka.nie.istnieje@fastcourier-eu.azurewebsite.eu</em>.
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Opis serwisu</mat-card-title>
  <mat-card-content>FastCourier umożliwia użytkownikom wystawianie ofert transportu przesyłek jak i ich zlecanie.
    Społeczność FastCourier tworzą ludzie, którzy chcą pomagać innym. Serwis jest skierowany zarówno do osób, które
    posiadają samochód lub inny środek transportu i chcą realizować transport przesyłek, jak i do osób, które chciałyby
    nadać przesyłkę do transportu, a przy okazji poznać kogoś nowego. Przewodnim hasłem serwisu FastCourier jest
    realizowanie transportu przesyłek szybciej, niż zrobiłby to kurier i taniej, niż zrobiłaby to poczta.
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Najczęściej zadawane pytania (FAQ)</mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            1. Czy korzystanie z serwisu jest darmowe?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Tak, korzystanie z serwisu jest darmowe. Opłaty są pobierane w jedynie w dwóch przypadkach:</p>
        <ul>
          <li>zwiększenia limitu ofert,</li>
          <li>wyróżnienia oferty.</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            2. Jak wystawić ofertę?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>W celu wystawienia oferty należy z rozwijanego menu wybrać pozycję "Wystaw ofertę". W nowym oknie należy
          wypełnić wszystkie pola zgodnie ze stanem faktycznym, a następnie wybrać przycisk Wystaw ofertę.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            3. Jak skontaktować się z użytkownikiem?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>W celu skontaktowania się z użytkownikiem należy wejść na profil użytkownika, a następnie wybrać przycisk
          Napisz wiadomość. W przypadku, gdy z użytkownikiem wymienialiśmy już korenspondencję, można wybrać ikonę
          wiadomości i odnaleźć odpowiednią konwersację. Po jej wybraniu można napisać nową wiadomość.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            4. Zostałem oszukany. Gdzie mogę uzyskać pomoc?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Jeżeli padłeś ofiarą oszustwa możesz zgłosić zaistniałą sytuację poprzez zgłoszenie transkacji, zgłoszenie
          użytkownika, bądź zgłoszenie uwagi w zależności od rodzaju dokonanego oszustwa.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            5. Chcę zlecić przesyłkę. Co ma zrobić?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>W celu zlecenia przesyłki znajdź interesującą Cię ofertę i zleć transport przesyłki. W nowym oknie wypełnij
          wszystkie pola dotyczące Twojej paczki i czekaj na odpowiedź od oferenta.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            6. Jak działa system ocen?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>System ocen pozwala na określenie wiarygodności użytkowników serwisu oraz poziomu realizowanych przez nich
          usług. </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            7. Chcę wystawić ocenę za transport przesyłki. Jak to zrobić?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>W celu wystawienia oceny za transport przesyłki należy przejść do zrealizowanych transkacji, odszukać
          konkretną transakcję, wybrać ją i dokonać oceny.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            8. Na czym polega wyróżnienie oferty?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Wyróżnienie oferty pozwala na umieszczenie jej wyżej na liście dostępnych ofert, dzięki czemu więcej
          użytkowników może ją zobaczyć.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            9. Czym jest limit ofert? Czy można go zwiększyć?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Limit ofert określa maksymalną liczbę ofert jaką użytkownik może wystawić w danym miesiącu. Limit ten może
          zostać zwiększony po dokonaniu opłaty.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            10. Funkcja zgłoś - co oznacza?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Funkcja zgłoś wykorzystywana jest przez użytkowników systemu do raportowania administratorm wszelkich
          niedogodności, problemów z działaniem systemu oraz informowania o łamaniu regulaminu przez innych
          użytkowników. Funkcja ta jest analogiczna jak we wszystkich innych popularnych serwisach internetowych.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            11. Znalazłem błąd w systemie. Jak mogę go zgłosić?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>W celu zgłoszenia błędu w systemie skorzystaj z opcji zgłoszenia uwagi.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            12. Czy moje dane są chronione?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Dokładamy wszelkich starań, aby dane naszych użytkowników były odpowiednio chronione.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
