<mat-card>
  <mat-card-title>Zgłoś użytkownika</mat-card-title>
  <mat-card-content>
    <form class="example-form" [formGroup]="zglosUzytkownikaForm">
      <mat-form-field>
        <input matInput placeholder="Login użytkownika" disabled [value]="login"/>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Powód zgłoszenia" formControlName="powod">
          <mat-option *ngFor="let powod of powody" [value]="powod">
            {{ powod.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Treść wiadomości" matTextareaAutosize matAutosizeMinRows="4"
                  matAutosizeMaxRows="20" formControlName="tresc"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="zglos()">Zgłoś</button>
    </form>
  </mat-card-content>
</mat-card>
