<mat-card>
  <mat-card-title>Formularz dodawania oferty</mat-card-title>
  <mat-card-content>Ten formularz pozwala na dodanie oferty do serwisu.</mat-card-content>
</mat-card>
<mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tytuł">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Cena minimalna" type="number">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Cena maksymalna" type="number">
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
      <mat-select placeholder="Miasto początkowe">
        <mat-option value="1">Warszawa</mat-option>
        <mat-option value="2">Kraków</mat-option>
        <mat-option value="3">Pruszków</mat-option>
        <mat-option value="4">Halinów</mat-option>
        <mat-option value="5">Ostrów Mazowiecka</mat-option>
      </mat-select>
    </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
      <mat-select placeholder="Miasto docelowe">
        <mat-option value="1">Warszawa</mat-option>
        <mat-option value="2">Kraków</mat-option>
        <mat-option value="3">Pruszków</mat-option>
        <mat-option value="4">Halinów</mat-option>
        <mat-option value="5">Ostrów Mazowiecka</mat-option>
      </mat-select>
    </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
      <mat-select placeholder="Kategoria paczek" multiple>
        <mat-option value="1">żywność</mat-option>
        <mat-option value="2">szkło</mat-option>
        <mat-option value="3">zwierzęta</mat-option>
      </mat-select>
      </mat-form-field></td> <td><mat-form-field class="example-full-width">
      <mat-select placeholder="Rozmiary paczek" multiple>
        <mat-option value="1">mała</mat-option>
        <mat-option value="2">średnia</mat-option>
        <mat-option value="3">duża</mat-option>
      </mat-select>
    </mat-form-field></td> <td><mat-form-field class="example-full-width">
      <mat-select placeholder="Wagi paczek" multiple>
        <mat-option value="1">lekka</mat-option>
        <mat-option value="2">przeciętna</mat-option>
        <mat-option value="3">ciężka</mat-option>
      </mat-select>
    </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Data wyjazdu">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Godzina wyjazdu" type="time">
      </mat-form-field></td>
    </tr></table>


    <mat-slide-toggle>Czy wyróżnić ofertę?</mat-slide-toggle>


  </form>
</mat-card>
