// Adjust your logo position
.mat-icon {
  &.mat-icon-logo {
    position: relative;
    top: -4px;
  }
}

.example-full-width {
  width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  min-height: 64px;
}
