<mat-card>
  <mat-card-title>
    Dodaj regulamin
  </mat-card-title>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Tytuł regulaminu">
      </mat-form-field>

      <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Treść regulaminu" matTextareaAutosize matAutosizeMinRows="2"
                      matAutosizeMaxRows="20"></textarea>
      </mat-form-field>

      <button mat-raised-button>Anuluj</button>

      <button mat-raised-button color="primary">Dodaj regulamin</button>
    </form>
  </mat-card-content>
</mat-card>
